.wordContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    gap: 1rem;
    margin: 2rem;
  }
  
  .wordLetter {
    display: flex;
    background-color: bisque;
    font-size: 20px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

  }