form {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	gap: 1rem;
    margin: 2rem;
}

input {
    width: 120px;
    height: 30px;
    font-size: 20px;
}

input::placeholder {
    
text-indent: 25px;
}

.gifWrapper {
    display: flex;
    justify-content: center;
    align-items: center;

}