form {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	gap: 1rem;
    margin: 2rem;
}

input {
    width: 170px;
    height: 30px;
    font-size: 20px;
    padding: 1rem;
}

input::placeholder { 
text-indent: 30px;
}

.gifWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gifWrapper {
    @media screen and (max-width: 560px) {
        display: none;
      }
}