.mainWrapper {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.mainWrapper > img {
    height: 100%;
    width: auto;
}


.mainWrapper > img {
    @media screen and (max-width: 644px) {
        height: 50%;
      }
}

.mainWrapper > img {
    @media screen and (max-width: 460px) {
        display: none;
      }
}