.mainWrapper {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainWrapper > img {
    height: 100%;
    width: auto;
}

.mainWrapper > img {
    @media (max-width: 460px) {
        height: 50%;
        margin-top: 3rem;
      }
}