.headerWrapper {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}


.loginButton {
    margin-top: 1rem;
}

.gamesButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
}

button {
    cursor: pointer;
}

button:hover {
transition: var(--transition);
-webkit-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 23px 0px rgba(0,0,0,0.75);
}